* {
  margin: 0;
  padding: 0;
}

.menu {
  margin-top: 30px;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
}
.menu .menu1 span {
  font-size: 30px;
  color: var(--Violet-600, #7C3AED);
}
.menu .menu2 span {
  padding: 4px 10px;
  color: white;
  border-radius: 50px;
  border: 2px solid var(--Violet-600, #7C3AED);
  background: var(--Violet-600, #7C3AED);
}
.menu a {
  margin: 0px 30px;
  text-decoration: none;
  color: black;
  padding: 4px 10px;
}
.menu a:hover {
  border-radius: 50px;
  border: 2px solid var(--Violet-600, #7C3AED);
  background: var(--Violet-600, #7C3AED);
  transition: 3s;
  color: white;
  font-size: 20px;
  box-shadow: 5px 5px 5px green;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.menu a:hover span {
  color: white;
  transition: 3s;
}

.start {
  margin-top: 100px;
  text-align: center;
}
.start h1 {
  font-size: 50px;
}
.start a {
  text-decoration: none;
  font-size: 30px;
  padding: 4px 10px;
  color: white;
  border-radius: 50px;
  border: 2px solid var(--Violet-600, #7C3AED);
  background: var(--Violet-600, #7C3AED);
}
.start a:hover {
  box-shadow: rgb(0, 0, 0) 0px 5px 15px;
}

.mac {
  margin: 80px 100px;
  border: 4px solid #7C3AED;
}
.mac .macflex {
  display: flex;
}
.mac .mactop {
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
.mac .mactop a {
  text-decoration: none;
}
.mac .mactop .search a {
  color: var(--Blue-Gray-400, #94A3B8);
  border-radius: 5px;
  background: var(--Blue-Gray-100, #F1F5F9);
  padding: 4px 130px;
}
.mac .macleft {
  background-color: #BFDBFE;
  width: 20%;
  height: 100vh;
  padding-left: 30px;
}
.mac .macleft .macleft1 img {
  margin-top: 40px;
}
.mac .macright {
  display: flex;
  width: 80%;
  background: var(--Blue-100, #DBEAFE);
}
.mac .macright img {
  margin-top: 40px;
  margin-left: 90px;
}
.mac .macright .macright12 {
  margin-top: 150px;
}
.mac .macright .mavright21 img {
  margin-top: 30px;
  margin-left: 40px;
}

.watch {
  text-align: center;
  margin-top: 20px;
}
.watch a {
  text-decoration: none;
  font-size: 30px;
  padding: 4px 10px;
  color: white;
  border-radius: 50px;
  border: 2px solid var(--Violet-600, #7C3AED);
  background: var(--Violet-600, #3b3249);
}
.watch a:hover {
  box-shadow: rgb(0, 0, 0) 0px 5px 15px;
}

.four {
  margin-top: 100px;
  display: grid;
  grid-template-columns: auto auto auto auto;
}
.four .four1 {
  text-align: center;
}
.four .four1 img {
  border-radius: 100px;
  background: var(--Cyan-100, #CFFAFE);
}

.foto {
  margin-top: 100px;
}
.foto .foto1 {
  display: grid;
  grid-template-columns: auto auto;
}
.foto .foto1 .foto12 {
  color: white;
  margin-left: -250px;
  padding-left: 60px;
  padding-top: 150px;
  background: var(--Violet-900, #4C1D95);
}
.foto .foto1 .foto12 h1 {
  font-size: 50px;
}
.foto .foto1 .foto12 a {
  text-decoration: none;
  font-size: 25px;
  padding: 4px 10px;
  color: white;
  border-radius: 50px;
  border: 2px solid var(--Violet-600, #7C3AED);
  background: var(--Violet-600, #7C3AED);
}
.foto .foto2 {
  width: 100%;
}
.foto .foto2 .foto21 {
  display: grid;
  grid-template-columns: auto auto auto auto;
}
.foto .foto2 .foto21 img {
  width: 94%;
  margin: 2px 5px;
  height: 30vh;
}

.find {
  margin-top: 70px;
  display: grid;
  grid-template-columns: auto auto;
}
.find .find2 {
  position: relative;
  top: 100px;
  right: 200px;
  background-color: white;
  height: 23vh;
  padding: 30px;
  box-shadow: 3px 3px 15px grey;
}
.find .find2 a {
  text-decoration: none;
  color: black;
}

.middle {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  margin-top: 150px;
}
.middle .middle1 {
  display: grid;
  grid-template-columns: auto auto;
}
.middle .middle1 .middle12 {
  position: relative;
  right: 200px;
  top: 120px;
}
.middle .middle1 .middle12 img {
  border-radius: 10%;
}
.middle .middle2 {
  margin-top: 50px;
  padding-right: 100px;
}
.middle .middle2 h1 {
  font-size: 60px;
}

.text4 {
  margin-top: 100px;
  text-align: center;
  padding-bottom: 100px;
  background-color: #4C1D95;
  width: 100%;
  padding-top: 50px;
}
.text4 h2 {
  color: #7C3AED;
}
.text4 h1 {
  font-size: 55px;
  margin-bottom: 20px;
  color: white;
}
.text4 p {
  color: #0F172A;
  margin-bottom: 20px;
  color: white;
}
.text4 #but4 {
  font-size: 1.4em;
  color: white;
  background-color: #7C3AED;
  border-radius: 20px;
  padding: 7px;
}
.text4 #but4:hover {
  background-color: lightgrey;
  color: #0F172A;
  padding: 5px;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  padding-bottom: 100px;
}
.footer p {
  margin-bottom: 10px;
  color: grey;
}

.footer2 {
  display: flex;
  justify-content: space-around;
  padding-bottom: 50px;
  border-top: 1px solid grey;
}
.footer2 .reserv2 a {
  text-decoration: none;
  margin-left: 20px;
  font-size: 1.2em;
  color: grey;
  position: relative;
  top: 20px;
}
.footer2 p {
  font-size: 1.2em;
  padding-top: 20px;
}
.footer2 i {
  font-size: 1.5em;
  margin-left: 5px;
  color: grey;
  padding-top: 20px;
}

@media (max-width: 768px) {
  .menu .menu2 {
    display: grid;
    grid-template-columns: auto;
  }
  .menu .menu1 {
    display: grid;
    grid-template-columns: auto;
  }
  .four {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
  }
  .foto .foto1 {
    display: grid;
    grid-template-columns: auto;
  }
  .foto .foto2 .foto21 {
    display: grid;
    grid-template-columns: auto auto auto auto;
  }
  .foto .foto2 .foto21 img {
    width: 160px;
  }
  .start {
    text-align: center;
  }
}/*# sourceMappingURL=style.css.map */